<div class="h-screen w-screen bg-slate-100 relative">
  <div class="absolute z-20 bg-[#68d9d9] h-1/4 w-full shadow-md"></div>
  <div class="flex justify-center items-center w-full h-full relative z-50">
    <div class="h-2/3 w-2/3 bg-white m-auto shadow-2xl rounded-md">
      <div
        class="p-4 w-1/2 flex flex-col m-auto items-center justify-center h-full"
      >
        <div class="w-full flex justify-center text-2xl text-[#003334] mb-7">
          Login
        </div>
        <form [formGroup]="loginForm" class="w-full flex flex-col gap-3">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
            <!-- <mat-error *ngIf="email.invalid">You must enter a value!</mat-error> -->
          </mat-form-field>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" />
            <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
          </mat-form-field>
          <div class="w-full mt-3">
            <button
              class="w-full login-button"
              mat-button
              (click)="submitLogin()"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
