/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  --mdc-snackbar-container-color: #00ff00;
  --mdc-snackbar-supporting-text-weight: 600;
}

.error-snackbar {
  --mdc-snackbar-container-color: #fd5c63;
  --mdc-snackbar-supporting-text-weight: 600;
}

.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: #fff;
}
